--extra-index-url https://pypi.dwavesys.com/simple

dimod==0.10.10
dwave-preprocessing==0.3.2
dwave-cloud-client==0.10.0
dwave-networkx==0.8.10
dwave-drivers==0.4.4
dwave-tabu==0.4.3
homebase==1.0.1
minorminer==0.2.7
numpy==1.19.5; python_version < "3.10"
numpy==1.21.4; python_version >= "3.10"
