--extra-index-url https://pypi.dwavesys.com/simple

dimod==0.6.10
dwave-cloud-client==0.4.2
dwave-networkx==0.6.0
dwave-drivers==0.3.1
homebase==1.0.0
minorminer==0.1.5
six==1.11.0
mock==2.0.0

coverage
codecov
