--extra-index-url https://pypi.dwavesys.com/simple

dimod==0.9.0.dev6
dwave-cloud-client==0.6.1
dwave-networkx==0.8.3
dwave-drivers==0.4.2
dwave-tabu==0.2.2
homebase==1.0.1
minorminer==0.1.8
six==1.11.0
mock==2.0.0
numpy==1.18.0

coverage
codecov
